.service-item
  height 100%
  display flex
  flex-flow column
  .ul-list
    margin-bottom ($line-height-computed/2)
    &:last-child
      margin-bottom 0
  &__col
    flex none
    &_1
      height 70%
      display flex
      justify-content center
      align-items center
      padding 0 25px 15px
    &_2
      height 30%
      overflow hidden
  &__img-wrap
    flex none
    max-width 100%
    max-height 100%
    position relative
    &:before
      content ''
      position absolute
      top 0
      left -20%
      right -20%
      bottom -25%
      background url('shadow.png') no-repeat 50% 100%/contain
      pointer-events none
      z-index -1
    &_type
      &_1
        &:after
          content ''
          position absolute
          top 50%
          left 50%
          width 120%
          padding-top 120%
          margin -60%
          background url('circles.svg') no-repeat 50% 50%/contain
          pointer-events none
          z-index -1
  &__img
    max-width 100%
    max-height 100%
    position relative
  &__title
    font-size 18px
    margin 0 0 15px
  &__caption
    font-size 13px

  @media (max-width $screen-xs-max - 1) and (orientation: landscape)
    flex-flow row
    &__col
      &_1
        flex 0 0 percentage(4/10)
        justify-content flex-start
        height 100%
        padding 0
      &_2
        flex 1 1 auto
        margin 0 0 0 30px
        align-self center
        height auto
        max-height 100%
    &__img-wrap
      padding 0

  @media (min-width $screen-sm-min)
    flex-flow row
    &__col
      &_1
        width 40%
        justify-content flex-start
        height 100%
        padding 0
      &_2
        width calc(60% - 30px)
        margin 0 0 0 30px
        align-self center
        height auto
        max-height 100%
    &__img-wrap
      &_type
        &_1
          &:after
            width 180%
            padding-top 180%
            margin -90%
    &__title
      font-size 28px
    &__caption
      font-size $font-size-base
    &_type
      &_1
        & {$p}__col
            &_1
              order 1
              justify-content flex-end
            &_2
              margin 0 30px 0 0

  @media (min-width $screen-md-min)
    height calc(50% - 30px)
    max-height 300px
    margin-bottom 30px
    &__title
      margin-bottom 20px