.form-feedback
  max-height 100%
  display flex
  flex-flow column
  width unquote('calc(' + percentage(400/820) + ' - 60px)')
  margin-right 60px
  border 4px solid white
  padding 40px 0
  &__header
    padding 0 30px 30px
    flex none
    color white
  &__content
    flex 1 1 auto
    overflow hidden
    padding 0 30px
  &__footer
    flex none
    position relative
    padding 0 30px 40px
    color white
  &__title
    font-size 28px
    margin 0
    text-align center

  @media (min-width $screen-md-min)
    width unquote('calc(' + percentage(500/1170) + ' - 95px)')