.main-slider
  height calc(100vh - 41px)
  p
    margin 0
  .slick-list, .slick-track, .slick-slide
    height 100%
  .container-fluid
    height 100%
  .slick-arrow
    position absolute
  .slick-prev
    right 50%
    margin-right -6px
  .slick-next
    left 50%
    margin-left -6px
  &__item
    position relative
  &__img-wrap
    height 100%
  &__text
    position absolute
    left 0
    width 100%
    bottom 0
    min-height 30%
    background rgba(black, 0.6)
    padding 20px 20px
    z-index 1
    color white
    line-height 1.25
  &__header
    font-size 16px
    text-transform uppercase
    letter-spacing 0.2em
    text-align center
    margin 0 0 10px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  &__title
    font-size 24px
    line-height 1em
    text-align center
    font-weight 700
    color inherit
    margin 0 0 10px
    overflow hidden
    max-height @line-height*2
  &__hr
    border 0
    border-top 1px solid rgba(#333, 0.8)
    margin 15px 0
  &__caption
    display flex
    align-items center
  &__caption-inner
    flex 1 1 auto
    font-size 14px
    line-height 1.25em
    text-transform uppercase
    overflow hidden
    max-height @line-height*5
  &__sale
    font-size 38px
    line-height 1
    flex none
    font-weight 700
    margin-right 10px
    small
      font-size 18px
      display inline-block
      vertical-align middle
      margin -4px -8px 0 0

  @media (min-width $screen-sm-min)
    &__item
      display flex !important
    &__img-wrap
      flex none
      width 50%
    &__text
      position static
      flex none
      width 50%
      background radial-gradient(circle at 50% 50%, rgba(white, 0.5), transparent) no-repeat, url("text-bg.jpg") repeat 0 0/800px auto rgba(black, 0.6)
      display flex
      flex-flow column
      align-items center
      color #333
    &__header
      color #2c2c2c
    &__title
      font-size 53px
