include helpers/variables
include helpers/mixins
include components/doctype
include components/header
include components/content
include components/footer

include components/breadcrumbs

+doctype(pages.catalogueMen.title)
  .-wrapper
    +header([pages.catalogueMen.url])
    +content
      section.-section._catalogue
        header.__header
          .container-fluid
            .row
              .col-sm-6
                h2.-section.__title._text_left Каталог Одежды для мужчин
              .col-sm-6
                +breadcrumbs([pages.index, {title: 'Мужчины', url: pages.catalogueMen.url}])
        .-nav-catalog-wrap._men
          .container-fluid
            nav.-nav-catalog
              -
                var arrNav = ['Аксессуары', 'Активная Одежда', 'Белье', 'Брюки', 'Джемперы', 'Джинсы',
                'Зимние аксессуары', 'Зимняя одежда', 'Коллекция Marvel', 'Обувь', 'Пиджаки', 'Ремни', 'Свитера',
                'Сорочки', 'Футболки и поло', 'Школьная форма', 'Шорты']
              each item, index in arrNav
                .-nav-catalog.__item
                  +a().__label= item
        .container-fluid
          p.
            Стильные джинсы – самые популярные вид мужских брюк за последнюю сотню лет. Они удобные и практичные. Из рабочей одежды они давно превратились в одежду для повседневной носки и активного отдыха. Их любят за прочный и мягкий материал, который позволяет выполнять на своей поверхности всевозможные винтажные эффекты, потертости и переходы от одного оттенка к другому. Модные джинсы в магазинах Gloria Jeans не являются исключением, в магазинах представлены джинсы разнообразных стилей, кроя и расцветок.
          p.
            Классические модели отличаются стандартным кроем и глубоким синим цветом с легкими винтажными эффектами. Они могут стать дополнением делового образа. Джинсы классического кроя прекрасно гармонируют с рубашками, пуловерами, кардиганами, свитерами, футболками, повседневными пиджаками и куртками. Стильные джинсы клеш или наоборот, зауженные джинсы созданы для самодостаточных и уверенных молодых людей. Джинсы с низкой талией прекрасно сидят по фигуре и подчеркивают отличные физические данные мужчины. Контрастные строчки и потертости создают эффект изношенности, что добавляет моделям оригинальность. Летние модели выполнены из легких натуральных материалов. Свежие, светлые оттенки подходят для жарких дней.
          p.
            В магазинах MasterJeans можно недорого купить мужские джинсы на любой вкус. В нашем каталоге представлен широкий ассортимент джинсов, среди которых ты обязательно найдешь подходящую модель!
    +footer