include helpers/variables
include helpers/mixins
include components/doctype
include components/header
include components/content
include components/footer

include components/breadcrumbs

+doctype(pages.catalogueMen.title)
  .-wrapper
    +header([pages.catalogueMen.url])
    +content
      section.-section
        header.__header
          .container-fluid
            .row
              .col-sm-6
                h2.-section.__title._text_left Каталог Одежды для мужчин
              .col-sm-6
                +breadcrumbs([pages.index, {title: 'Мужчины', url: pages.catalogueMen.url}])
    +footer