include helpers/variables
include helpers/mixins
include components/doctype
include components/header
include components/content
include components/footer

include components/breadcrumbs
include components/menu-catalogue
include components/products-list

+doctype(pages.catalogueView.title)
  .-wrapper
    +header([pages.catalogueMen.url, pages.catalogueView.url])
    +content
      section.-section._catalogue
        header.__header
          .container-fluid
            .row
              .col-sm-5
                h1.-section.__title._text_left Каталог Джинсов для мужчин
              .col-sm-7
                +breadcrumbs([{title: 'Мужчины', url: pages.catalogueMen.url}, {title: 'Джинсы', url: pages.catalogueView.url}])
        .container-fluid
          .row
            aside.-aside-catalogue.col-sm-3
              h2.-title.hidden-xs.hidden-sm.hidden-md.hidden-lg Категории
              button(type='button').-toggle-menu-catalogue
                span.__icon
                  span.__line
                  span.__line
                  span.__line
                span.__label Категории
              +menu-catalogue(menuCatalogueList, [pages.catalogueView.url])
            .col-sm-9
              .-filters-box
                .__col._1 Сортировать по:
                .__col._2
                  select.-select._filter(data-ddfullwidth='true')
                    option Цене (по убыванию)
                    option Цене (по возрастанию)
                .__col._3
                  select.-select._filter(data-ddfullwidth='true')
                    option Бренду
                    option Fidess experimentum
                    option Terrors credere
                    option Heuretess velum
                .__col._4
                  select.-select._filter(data-ddfullwidth='true')
                    option Статусу
                    option Nunquam locus ionicis tormento
                    option Ubi est germanus species
                    option Messor, nuclear vexatum iacere, et rumor

        +products-list(productsList)._catalogue
        .-btns-box
          .container-fluid
            +a().-btn._type_3 #[span.__icon.icon.icon-refresh]#[span.__label Показать ещё]



        .container-fluid
          p.
            Стильные джинсы – самые популярные вид мужских брюк за последнюю сотню лет. Они удобные и практичные. Из рабочей одежды они давно превратились в одежду для повседневной носки и активного отдыха. Их любят за прочный и мягкий материал, который позволяет выполнять на своей поверхности всевозможные винтажные эффекты, потертости и переходы от одного оттенка к другому. Модные джинсы в магазинах Gloria Jeans не являются исключением, в магазинах представлены джинсы разнообразных стилей, кроя и расцветок.
          p.
            Классические модели отличаются стандартным кроем и глубоким синим цветом с легкими винтажными эффектами. Они могут стать дополнением делового образа. Джинсы классического кроя прекрасно гармонируют с рубашками, пуловерами, кардиганами, свитерами, футболками, повседневными пиджаками и куртками. Стильные джинсы клеш или наоборот, зауженные джинсы созданы для самодостаточных и уверенных молодых людей. Джинсы с низкой талией прекрасно сидят по фигуре и подчеркивают отличные физические данные мужчины. Контрастные строчки и потертости создают эффект изношенности, что добавляет моделям оригинальность. Летние модели выполнены из легких натуральных материалов. Свежие, светлые оттенки подходят для жарких дней.
          p.
            В магазинах MasterJeans можно недорого купить мужские джинсы на любой вкус. В нашем каталоге представлен широкий ассортимент джинсов, среди которых ты обязательно найдешь подходящую модель!
    +footer