include helpers/variables
include helpers/mixins
include components/doctype
include components/header
include components/content
include components/footer

include components/breadcrumbs

+doctype(pages.FAQ.title)
  .-wrapper
    +header([pages.FAQ.url])
    +content
      section.-section
        header.__header
          .container-fluid
            .row
              .col-sm-5
                h1.-section.__title._text_left Часто задаваемые вопросы
              .col-sm-7
                +breadcrumbs([{title: 'Часто задаваемые вопросы', url: pages.FAQ.url}])
        .-faq-list
          .container-fluid
            article.-faq-item
              .__header
                .h2.__title Как выбрать размер?
                .__icon
              .__content
                h2.__title-2 Как выбрать размер?
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
            article.-faq-item
              .__header
                .h2.__title Как определить мой размер джинсов?
                .__icon
              .__content
                h2.__title-2 Как определить мой размер джинсов?
                p.
                  Brevis, raptus armariums etiam anhelare de fidelis, gratis cursus.
                  Ubi est clemens victrix? Nunquam acquirere gabalium. Cum onus peregrinatione, omnes aonideses perdere fidelis, lotus solitudoes.
                  Regius solems ducunt ad bubo. Sunt parmaes fallere audax, mirabilis demissioes. Salvus, lotus lunas aliquando convertam de camerarius, primus planeta.
                  Armarium fortis demissio est. Cum agripeta cadunt, omnes fluctuies quaestio clemens, fatalis verpaes.
                  Heu. Cum adgium velum, omnes bullaes promissio placidus, regius solitudoes. Sunt stellaes contactus magnum, alter lunaes.
                  A falsis, detrius teres torquis. Cum ratione ire, omnes exsules imperium castus, brevis compateres.
            article.-faq-item
              .__header
                .h2.__title Как определить мой размер одежды?
                .__icon
              .__content
                h2.__title-2 Как определить мой размер одежды?
                p.
                  Cum hilotae observare, omnes adgiumes locus brevis, bassus tuses.
                  A falsis, axona salvus planeta. Cum mens persuadere, omnes guttuses pugna primus, fidelis brodiumes.
                  Cum luna credere, omnes elogiumes aperto ferox, germanus triticumes. Fatalis, lotus lumens foris consumere de regius, pius tus.
            article.-faq-item
              .__header
                .h2.__title На какой рост рассчитана одежда?
                .__icon
              .__content
                h2.__title-2 На какой рост рассчитана одежда?
                p.
                  Brevis, raptus armariums etiam anhelare de fidelis, gratis cursus.
                  Ubi est clemens victrix? Nunquam acquirere gabalium. Cum onus peregrinatione, omnes aonideses perdere fidelis, lotus solitudoes.
                  Regius solems ducunt ad bubo. Sunt parmaes fallere audax, mirabilis demissioes. Salvus, lotus lunas aliquando convertam de camerarius, primus planeta.
                  Armarium fortis demissio est. Cum agripeta cadunt, omnes fluctuies quaestio clemens, fatalis verpaes.
                  Heu. Cum adgium velum, omnes bullaes promissio placidus, regius solitudoes. Sunt stellaes contactus magnum, alter lunaes.
                  A falsis, detrius teres torquis. Cum ratione ire, omnes exsules imperium castus, brevis compateres.
            article.-faq-item
              .__header
                .h2.__title Как определить размер одежды для ребенка?
                .__icon
              .__content
                h2.__title-2 Как определить размер одежды для ребенка?
                p.
                  Placidus, salvus rectors foris convertam de dexter, gratis danista.
                  Mortems sunt fermiums de castus equiso. Albus, alter stellas mechanice tractare de primus, talis turpis.
                  Cur resistentia trabem? Grandis devatios ducunt ad domina. Peregrinatione una ducunt ad pius barcas. Flavum nix cito anhelares buxum est.
                p.
                  Nunquam vitare elogium. Cum particula credere, omnes vortexes prensionem raptus, flavum cedriumes.
                  A falsis, pars azureus detrius. Germanus, velox gloss sensim fallere de clemens, emeritis imber.
                  Sunt lapsuses convertam dexter, fidelis advenaes. Altus, magnum absolutios etiam pugna de lotus, talis animalis.
            article.-faq-item
              .__header
                .h2.__title Как определить мой размер ремня?
                .__icon
              .__content
                h2.__title-2 Как определить мой размер ремня?
                p.
                  Cum hippotoxota studere, omnes indexes imitari secundus, fidelis guttuses.
                  Lura fortis triticum est. Indictio, torquis, et abaculus. Cum plasmator studere, omnes exemplares examinare fidelis, domesticus magisteres.
                  Pol, a bene calcaria, visus! Gratis ventus inciviliter desideriums sectam est. Grandis, superbus liberis tandem locus de mirabilis, albus cobaltum.
                p.
                  Pol, a bene domus. Victrix, boreas, et amor. Cum fortis prarere, omnes humani generises fallere mirabilis, regius absolutioes.
                  Candidatus velums, tanquam festus elevatus. Cum candidatus ire, omnes vitaes contactus salvus, fidelis lanistaes.
            article.-faq-item
              .__header
                .h2.__title Как определить мой размер перчаток?
                .__icon
              .__content
                h2.__title-2 Как определить мой размер перчаток?
                p.
                  Cum absolutio congregabo, omnes orexises imperium magnum, germanus demissioes.
                  Trabem hic ducunt ad mirabilis palus. Cum medicina studere, omnes mensaes contactus bi-color, salvus messores.
                  Heu. Adiurators observare in sala! Rectors crescere! Prarere diligenter ducunt ad germanus danista. Sunt galataees demitto fatalis, bi-color caculaes.
                p.
                  Magnum sectams ducunt ad finis. Cum nomen trabem, omnes bullaes dignus emeritis, grandis zirbuses.
                  Nunquam perdere elevatus. Liberis peregrinationes in velox cubiculum! Cum historia velum, omnes animalises gratia castus, alter amicitiaes.
                  Bulla de peritus verpa, examinare mensa! Cum contencio cadunt, omnes ususes desiderium castus, audax poetaes.
            article.-faq-item
              .__header
                .h2.__title Как определить мой размер головного убора?
                .__icon
              .__content
                h2.__title-2 Как определить мой размер головного убора?
                p.
                  Velox, emeritis barcass recte reperire de festus, primus valebat.
                  Nutrix, luba, et glos. Eheu. Castus, bassus cursuss solite examinare de gratis, brevis adelphis.
                  Pol, a bene saga, fidelis compater! Hippotoxota magnum orgia est. Castus, albus urias semper desiderium de lotus, pius adiurator.
                  Velox, emeritis barcass recte reperire de festus, primus valebat.
                  Nutrix, luba, et glos. Eheu. Castus, bassus cursuss solite examinare de gratis, brevis adelphis.
                  Pol, a bene saga, fidelis compater! Hippotoxota magnum orgia est. Castus, albus urias semper desiderium de lotus, pius adiurator.
    +footer