include helpers/variables
include helpers/mixins
include components/doctype
include components/header
include components/content
include components/footer

include components/breadcrumbs

+doctype(pages.FAQ.title)
  .-wrapper
    +header([pages.FAQ.url])
    +content
      section.-section._catalogue
        header.__header
          .container-fluid
            .row
              .col-sm-5
                h1.-section.__title._text_left Часто задаваемые вопросы
              .col-sm-7
                +breadcrumbs([{title: 'Часто задаваемые вопросы', url: pages.FAQ.url}])
        .-faq-list
          .container-fluid
            .-faq-item
              .__header
                h2.__title Как выбрать размер?
                .__icon
              .__content
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
            .-faq-item
              .__header
                h2.__title Как определить мой размер джинсов?
                .__icon
              .__content
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
            .-faq-item
              .__header
                h2.__title Как определить мой размер одежды?
                .__icon
              .__content
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
            .-faq-item
              .__header
                h2.__title На какой рост рассчитана одежда?
                .__icon
              .__content
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
            .-faq-item
              .__header
                h2.__title Как определить размер одежды для ребенка?
                .__icon
              .__content
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
            .-faq-item
              .__header
                h2.__title Как определить мой размер ремня?
                .__icon
              .__content
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
            .-faq-item
              .__header
                h2.__title Как определить мой размер перчаток?
                .__icon
              .__content
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).
            .-faq-item
              .__header
                h2.__title Как определить мой размер головного убора?
                .__icon
              .__content
                p.
                  По легенде, такое название появилось не случайно. Несколько железнодорожных рабочих,
                  покупавших джинсы у Хадсона, были так ими довольны, что однажды принесли ему в подарок настоящий колокол.
                  Хадсон поместил его прямо на фабрике. Через некоторое время колокол полностью покрылся пылью и частичками джинсовой ткани и стал синим.
                p.
                  В Голливуде джинсы Wrangler пользуются огромной популярностью. В них ходили Мерилин Монро (Marilyn Monroe),
                  Бриджит Бардо (Brigitte Bardot) и Элвис Пресли (Elvis Presley). А американский актер Харрисон Форд (Harrison Ford)
                  даже надел джинсы Wrangler на церемонию свадьбы со своей возлюбленной Калистой Флокхарт (Calista Flockhart).

    +footer