include helpers/variables
include helpers/mixins
include components/doctype
include components/header
include components/content
include components/footer

+doctype(pages.index.title)
  .-wrapper
    +header
    +content
      .-main-slider.slick-slider(data-slick={"autoplay": false, "autoplaySpeed": 7000})
        .__item.slick-slide
          .__img-wrap
            +img('files/pics/main-slider/slide-1.jpg', '', 'fit').__img
          .__text
            .__header Чувство стиля
            h2.__title Уютно и тепло
            hr.__hr
            .__caption
              strong.__sale #[small +] 2%
              .__caption-inner К вашей скидке постоянного покупателя
    +footer