.menu-catalogue
  color #2c2c2c
  font-weight 500
  font-size 12px
  line-height 1.25em
  text-transform uppercase
  padding 9px 0
  display none
  &__item
    padding 9px 0
    &_current
      &>{$p}__btn
        color $red-1
    &_opened
      &>{$p}__btn
        &>{$p}__icon
          transform rotate(180deg)
          padding 1px 0 0 0
  &__btn
    text-decoration none !important
    color inherit
    display inline-flex
    align-items flex-start
    &:hover, &:focus
      color $red-1
  &__label
    flex 1 1 auto
    overflow hidden
  &__icon
    font-size 6px
    color #686868
    flex none
    width 15px
    height 15px
    text-align center
    padding 0 0 1px
    cursor pointer
    margin-left 6px
  &__submenu
    display none
    padding 5px 0 0 20px

  @media (min-width $screen-sm-min)
    background-color white
    border 1px solid #ececec
    padding 20px 25px
    position absolute
    left 10px
    width 275px
    //box-shadow 0 1px 5px rgba(black, 0.2)

  @media (min-width $screen-md-min)
    //display block !important