.nav-catalog
  color #2c2c2c
  font-weight 500
  font-size 12px
  line-height 1.25em
  text-transform uppercase
  padding 25px 0
  &__item
    padding 8px 0
    page-break-inside avoid
  &__label
    text-decoration none !important
    color inherit
    display block
    &:hover, &:focus
      color $red-1

  @media (min-width $screen-md-min)
    column-count 2
    column-gap 20px
