.ol-list
  list-style none
  padding 0
  counter-reset lvl1
  >li
    position relative
    padding-left 20px
    &:before
      counter-increment lvl1
      content counter(lvl1)'.'
      position absolute
      left 0
      color $blue-1
  &_marker
    &_cyr
      >li
        &:before
          content attr(data-marker)'.'
