.filters-box
  font-size 12px
  line-height 1.25em
  margin-bottom 17px
  overflow hidden
  &__col
    overflow hidden
    margin-bottom 18px
    &_1
      font-weight 500
      text-transform uppercase

  @media (min-width $screen-sm-min)
    display flex
    justify-content flex-end
    align-items flex-start
    &__col
      overflow hidden
      &_1
        margin-right 30px
      &_2, &_3
        margin-right 40px