.footer-section
  flex none
  padding 25px 0
  margin-bottom -25px
  z-index 10
  line-height 1.25
  position relative
  transform translate3d(0, 0, 0)
  p
    margin 0
    max-width none
  .social
    float right
    margin-right -10px
  .icon-mouse
    color $blue-1
    font-size 76px
    line-height 1
    display inline-block
    vertical-align top
    margin-top -58px
    pointer-events none
  .logo
    margin-top -16px
  &__row
    display flex
    align-items center
    &_1
      align-items baseline
  &__copyright
    font-size 12px
    font-weight 700
    text-transform uppercase
    color #878594
    text-align center
    a
      text-decoration none

  @media (min-width $screen-sm-min)
    padding 50px 0
    margin-bottom -50px