@font-face {
  font-family: "glyphicons";
  src: url('../fonts/glyphicons/glyphicons.eot');
  src: url('../fonts/glyphicons/glyphicons.eot?#iefix') format('eot'),
  url('../fonts/glyphicons/glyphicons.woff2') format('woff2'),
  url('../fonts/glyphicons/glyphicons.woff') format('woff'),
  url('../fonts/glyphicons/glyphicons.ttf') format('truetype'),
  url('../fonts/glyphicons/glyphicons.svg#glyphicons') format('svg');
}

.icon:before {
  font-family: "glyphicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
}


.icon-angle-down:before {
  content: "\E001";
}

.icon-angle-right-2:before {
  content: "\E002";
}

.icon-angle-right:before {
  content: "\E003";
}

.icon-circle-arrow:before {
  content: "\E004";
}

.icon-close:before {
  content: "\E005";
}

.icon-delivery:before {
  content: "\E006";
}

.icon-fb:before {
  content: "\E007";
}

.icon-guarantee:before {
  content: "\E008";
}

.icon-hanger:before {
  content: "\E009";
}

.icon-ins:before {
  content: "\E00A";
}

.icon-minus:before {
  content: "\E00B";
}

.icon-plus:before {
  content: "\E00C";
}

.icon-refresh:before {
  content: "\E00D";
}

.icon-sale:before {
  content: "\E00E";
}

.icon-tw:before {
  content: "\E00F";
}