include menu

mixin header()
  // Header
  header.-header&attributes(attributes)
    .__top
      .container-fluid
        button(type='button').-toggle-menu
          span.__line
          span.__line
          span.__line
        +a(pages.index.url).-logo
          +img('img/logo-xs.svg', pkg.name)
    .__bottom
      .container-fluid
        +menu(menuList, [pages.index])

  // /Header