-
  var menuList = [
    {title: 'Мужчины', url: pages.catalogueMen.url},
    {title: 'Женщины', url: '#'},
    {title: 'Дети', url: '#'},
    {title: 'Новости', url: '#'},
    {title: 'Бренды', url: '#'},
    {title: 'Магазины', url: '#'}
  ];

mixin menu(menuList, urls)
  // Menu
  nav.-menu&attributes(attributes)
    each item in menuList
      .__item._lvl_1(class={_submenu: item.submenu} class={_current: item.url === urls[0]})
        a.__btn._lvl_1(href= item.url)
          span.__label._lvl_1= item.title
          span.__icon._lvl_1.icon.icon-angle-right
        if item.submenu
          .__submenu._lvl_1
            each itemInner in item.submenu
              .__item._lvl_2(class={_submenu: itemInner.submenu} class={_current: itemInner.url === urls[1]})
                a.__btn._lvl_2(href= itemInner.url)
                  span.__label._lvl_2= itemInner.title
                  span.__icon._lvl_2
  // /Menu