include product-item

-
  var productsList = [
    {img: 'files/pics/products/Levi\'s®--Джинсы-511---8900руб.jpg', title: 'Джинсы мужские синие Levi\'s', price: ['8&nbsp;600', '8&nbsp;900'], label: 'new'},
    {img: 'files/pics/products/Levi\'s®--Джинсы-511---8500руб.jpg', title: 'Джинсы мужские синие Levi\'s', price: '8&nbsp;590', label: 'new'},
    {img: 'files/pics/products/United-Colors-of-Benetton-Джинсы---2799руб.jpg', title: 'Джинсы мужские синие United Colors of Benetton', price: '2&nbsp;799', label: 'new'},
    {img: 'files/pics/products/Topman-Джинсы---4199руб.jpg', title: 'Джинсы мужские синие Topman', price: '4&nbsp;190', label: 'new'},
    {img: 'files/pics/products/Screen-Shot-2016-11-02-at-18.49.jpg', title: 'Джинсы мужские синие Topman', price: '3&nbsp;790'},
    {img: 'files/pics/products/Screen-Shot-2016-11-02-at-18.51.jpg', title: 'Джинсы мужские синие United Colors of Benetton ', price: '2&nbsp;799'},
    {img: 'files/pics/products/Levi\'s®--Джинсы-511---8500руб.jpg', title: 'Джинсы мужские синие Levi\'s', price: '8&nbsp;590', label: 'new'},
    {img: 'files/pics/products/United-Colors-of-Benetton-Джинсы---2799руб.jpg', title: 'Джинсы мужские синие United Colors of Benetton', price: '2&nbsp;799', label: 'new'}
  ]

mixin products-list(data)
  // Products-list
  .-products-list&attributes(attributes)
    .container-fluid
      .row
        each item, index in data
          +product-item(item)(class=item.label ? '_label_' + item.label : null)
  // /Products-list