mixin social(yuiuyigfhh)
  // Social
  .-social&attributes(attributes)
    +a.__item.fa.fa-vk(target='_blank' title='VK')
    +a.__item.fa.fa-twitter(target='_blank' title='Twitter')
    +a.__item.fa.fa-facebook(target='_blank' title='Facebook')
  // /Social