include write-item-2

mixin writes-list-2(data)
  // Writes-list-2
  .-writes-list-2&attributes(attributes)
    .container-fluid
      .row
        each item, index in data
          +write-item-2(item)
  // /Writes-list-2