mixin write-item-2(item)
  article.-write-item-2&attributes(attributes)
    +a('new-view.html').__img-wrap
      +img(item.img, item.title, 'fit').__img
    .__col-right
      header.__header
        h2.__title.dot-ellipsis.dot-resize-update
          +a('new-view.html').__title-link= item.title
        time(datetime='ГГГГ-ММ-ДД').__date 03.11.2016
      .__content.dot-ellipsis.dot-resize-update
        p= item.caption
      footer.__footer
        +a('new-view.html').__read-more Читать далее#[span.icon.icon-angle-right-2]