.wrapper
  position relative
  background $body-bg
  will-change auto

.onepage-pagination
  display none
  z-index $zindex-navbar-fixed
  @media (min-width $screen-sm-min)
    display block
    right auto
    left percentage(102/$screen-sm-min/2)
    top 0
    height 100%
    display flex
    flex-flow column
    margin 0 -7px
    justify-content center
    li
      margin 5px 0
      a
        square 14px
        border 3px solid transparent
        border-radius 50%
        background-clip content-box
        background-color $blue-1
        padding 0
        &:before
          content normal
        &.active
          border-color white
          background-color transparent
  @media (min-width $screen-md-min)
    left calc((100vw - 1170px)/4)
