form(action='').-modal
  button.__btn-close.btn.arcticmodal-close.icon.icon-close
  .__header
    h1.__title Оставить отзыв
  .-row-form
    input.-field(type='text' placeholder='Ваше имя *')
  .-row-form
    input.-field(type='email' placeholder='E-mail *')
  .-row-form
    input.-field(type='text' placeholder='Заголовок отзыва *')
  .-row-form
    textarea.-field._area(placeholder='Ваш отзыв о товаре *')
  .-row-form._btn-2
    button.-btn._type_1(type='submit') #[span.__label Отправить]