.section
  padding 15px 0
  &__header
    border-bottom 1px solid #ececec
    padding 15px 0
    margin -15px 0 30px
  &__title
    text-align center
    font-weight 900
    font-size 16px
    padding-bottom 16px
    margin 0 0 -16px
    background linear-gradient($red-1, $red-1) no-repeat 50% 100%/46px 1px

  @media (min-width $screen-md-min)
    &__header
      margin-bottom 45px