.section
  padding 30px 0
  &__header
    border-bottom 1px solid #ececec
    padding 16px 0 13px
    margin -30px 0 30px
  &__title
    text-align center
    font-weight 900
    font-size 16px
    padding-bottom 14px
    margin 0 0 -14px
    background linear-gradient($red-1, $red-1) no-repeat 50% 100%/46px 1px
    position relative
    z-index 2
    &_text
      &_left
        text-align left
        background-position 0% 100%

  @media (min-width $screen-md-min)
    &__header
      margin-bottom 45px