.section
  padding 25px 0
  display flex
  flex-flow column
  overflow hidden
  justify-content space-between
  position relative
  &_main
    background url('main-bg.jpg') no-repeat 50% 50%/cover
  &_services
    &_4
      background url('circles.svg') no-repeat left 50% bottom -120px/346px auto
  &_gallery
    background $blue-1
  &_contacts
    background url('contacts-bg.jpg') no-repeat 50% 50%/cover

  @media (min-width $screen-sm-min)
    padding 50px 0
    &_services_1, &_services_2
      .header-section
        padding-bottom 0
      .footer-section
        padding-top 0
    &_services
      &_4
        background url('circles.svg') no-repeat left 50% bottom -100px/346px auto

  @media (min-width $screen-md-min)
    &_services
      &_2
        background url('circles.svg') no-repeat left 50% bottom -225px/600px auto