.container-fluid
  padding-left $grid-gutter-width
  padding-right @padding-left

  @media (min-width $screen-sm-min)
    max-width 960px

  @media (min-width $screen-md-min)
    max-width $screen-md-min