.container-fluid
  padding-left 20px
  padding-right 20px
  @media (min-width $screen-sm-min)
    padding-left 0
    padding-right 0
    width percentage(820/$screen-sm-min)

  @media (min-width $screen-md-min)
    width 100%
    max-width 1170px