.container-fluid
  padding-left 20px
  padding-right 20px
  @media (min-width $screen-sm-min)
    //width percentage(820/$screen-sm-min)

  @media (min-width $screen-md-min)
    max-width $screen-md-min