.logo
  color white !important
  text-decoration none !important
  display inline-block
  vertical-align top
  height 33px
  white-space nowrap
  margin 0 15px 0 0
  &__img
    height 100%

  @media (min-width $screen-sm-min)
    height 39px