.toggle-menu
  padding 0
  border 0
  background none
  display block
  width 26px
  height 26px
  font-size 24px
  line-height 1
  color white
  position relative
  z-index $zindex-navbar-fixed
  transition 0.3s
  &:active
    transition none
  &__line
    size 26px 2px
    background white
    transition inherit
    transform-origin 50% 50%
    display block
    margin 0 auto
    pointer-events none
    &+&
      margin-top 8px
  &:focus
    outline none
  &_opened
    justify-content center
    &>{$p}__line
      display none