-
  var voidHref = 'javascript:void(0)';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Главная', url: 'index.html'},
    catalogueMen: {title: 'Каталог Одежды для Мужчин', url: 'catalogue-men.html'}
  };

  var modals = {

  };