-
  var voidHref = 'javascript:void(0)';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Главная', url: 'index.html'}
  };

  var modals = {
    feedback: {title: 'Напишите нам', url: 'popups/feedback.html'},
    map: {title: 'На карте', url: 'popups/map.html'}
  };