-
  var voidHref = 'javascript:void(0)';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Главная', url: 'index.html'},
    catalogueMen: {title: 'Каталог Одежды для Мужчин', url: 'catalogue-men.html'},
    catalogueKids: {title: 'Каталог Одежды для Детей', url: 'catalogue-kids.html'},
    catalogueView: {title: 'Каталог Джинсов для мужчин', url: 'catalogue-view.html'},
    itemView: {title: 'Джинсы мужские Levi\'s 511', url: 'item-view.html'}
  };

  var modals = {

  };