-
  var voidHref = 'javascript:void(0)';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Main', url: 'index.html'},
    catalogueMen: {title: 'Сatalogue Men', url: 'catalogue-men.html'},
    catalogueKids: {title: 'Сatalogue Kids', url: 'catalogue-kids.html'},
    catalogueView: {title: 'Catalogue View', url: 'catalogue-view.html'},
    itemView: {title: 'Item View', url: 'item-view.html'},
    news: {title: 'News', url: 'news.html'},
    newView: {title: 'New View', url: 'new-view.html'},
    brands: {title: 'Brands', url: 'brands.html'},
    brandView: {title: 'Brand View', url: 'brand-view.html'},
    FAQ: {title: 'FAQ', url: 'FAQ.html'},
    shops: {title: 'Shops', url: 'shops.html'},
    shopView: {title: 'Shop View', url: 'shop-view.html'},
    error404: {title: '404', url: '404.html'}
  };

  var modals = {
    reviewModal: {title: 'Оставить отзыв', url: 'popups/review-modal.html'}
  };