.slick-slide, .slick-arrow, .slick-dots button, a
  &:focus
    outline 0
.slick-arrow, .slick-dots button
  border 0
  background none
  margin 0
  padding 0
.slick-disabled
  cursor $cursor-disabled
  opacity 0.65
  box-shadow none
  pointer-events none
.slick-dots
  list-style none
  margin 0
  padding 0
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  font-size 0
  color transparent
  text-align center
  li
    margin 4px 9px
    button
      square(9px)
      border-radius 50%
      background-color #ddd
      transition 0.15s
    &.slick-active
      button
        background-color #333