.social
  display flex
  justify-content center
  flex-flow row wrap
  margin-bottom -10px
  &__item
    display flex
    justify-content center
    align-items center
    color white
    text-decoration none !important
    border-radius 50%
    margin 0 10px 10px
    font-size 18px
    line-height 1
    &:hover, &:focus
      color $blue-1
