.select
  display inline-block
  vertical-align top

.select-dd
  .ik_select_list
    border 1px solid $blue-1
    margin-top -1px
    background #1d1c2a
    box-shadow 0 6px 12px rgba(0, 0, 0, .175)
  ul
    list-style none
    margin 0
    padding 0
    li
      padding 8px 30px 7px 10px
      cursor pointer
      font-size 14px
      font-weight 400
      color $text-color
      transition 0.15s
      &.ik_select_hover
        background #504f76
        color white
  .ik_select_option_label
    display block
    overflow hidden
    //white-space nowrap